{% extends "layout.html" %}

{% block content %}

<div class="hero">

<h1>

TBO Studio

</h1>

<p>

Simulator Interaktif Teori Bahasa dan Otomata

</p>

<a
href="/fsa"
class="btn btn-light btn-lg mt-3">

Mulai Sekarang

</a>

</div>

<div class="row g-4">

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">

<h3>

📘 Finite State Automata

</h3>

<p>

Simulator DFA dan NFA lengkap.

</p>

<a
href="/fsa"
class="btn btn-primary">

Masuk

</a>

</div>

</div>

</div>

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">

<h3>

🔤 Regular Expression

</h3>

<p>

Regex Matcher.

</p>

<a
href="/regex"
class="btn btn-success">

Masuk

</a>

</div>

</div>

</div>

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">

<h3>

🌳 CFG & PDA

</h3>

<p>

Grammar Simulator.

</p>

<a
href="/pda"
class="btn btn-warning">

Masuk

</a>

</div>

</div>

</div>

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">

<h3>

📚 Hierarki Chomsky

</h3>

<p>

Analisis Grammar.

</p>

<a
href="/chomsky"
class="btn btn-danger">

Masuk

</a>

</div>

</div>

</div>

</div>

{% endblock %}